<div class="jumbotron">
  <h1>Google Maps Search</h1>
  <p>Search for a city below and quickly review past searches.</p>
  <%= form_tag({:controller => 'home', :action => 'results'}, :method => 'post', :id => 'search_form', :class => 'navbar-form') do %>
    <fieldset>
      <div class='form-group'>
        <%= text_field_tag :location_input, nil, class: 'form-control col-lg-6', placeholder: 'CITY OR ADDRESS' %>
      </div>
      <div class='form-group' id='search-div'>
        <%= submit_tag 'SEARCH', class: 'btn btn-primary form-control', id: 'search-button' %>
      </div>
      <% if flash[:form_error] %>
        <div class="error_text">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <%= "#{flash[:form_error]}" %>
        </div>
      <% end %>
    </fieldset>
  <% end %>
</div>

<script type="text/javascript">
  $('#location_input').geocomplete();
</script>